* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

section #contact_qatar_airways, section #executive_cargo #contact_qatar_executive, section #executive_cargo #contact_qatar_cargo {
  padding: 0;
  border-radius: 3rem;
  overflow: hidden; }

section #contact_qatar_airways #contact_intro h4, section #executive_cargo #contact_qatar_executive #contact_qatar_executive_intro h4, section #executive_cargo #contact_qatar_cargo #contact_qatar_cargo_intro h4 {
  padding: 1rem 1rem 0 1rem;
  font-family: "Caveat", cursive;
  font-size: 4rem;
  text-align: center;
  color: #691a40; }

section #executive_cargo #contact_qatar_executive:first-child i, section #executive_cargo #contact_qatar_cargo:nth-of-type(2) i {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 5rem;
  color: #691a40; }

section #executive_cargo #contact_qatar_executive:first-child h6, section #executive_cargo #contact_qatar_cargo:nth-of-type(2) h6 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #691a40; }

section #executive_cargo #contact_qatar_executive:first-child p, section #executive_cargo #contact_qatar_cargo:nth-of-type(2) p {
  padding-bottom: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  color: #6a6a6a; }

section #executive_cargo #contact_qatar_executive:first-child .p_color, section #executive_cargo #contact_qatar_cargo:nth-of-type(2) .p_color {
  color: #691a40;
  font-weight: 700; }

header .container-fluid {
  padding: 0; }
header .row {
  margin: 0; }
header .dropdown-toggle::after {
  content: none; }
header .dropdown-menu {
  background-color: #76224a;
  min-width: 20rem; }
header a {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem; }
header #logo_container {
  margin-bottom: 1rem; }
  header #logo_container #logo {
    margin: 1rem 0;
    background: url("../../images/qatar_airways_logo.png") center/cover no-repeat;
    background-size: contain;
    height: 16vh;
    position: relative; }
header #nav {
  background-color: #691a40;
  height: 5rem; }
header #nav_bar button {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #691a40;
  border: 1px solid white;
  border-radius: .25rem; }
header #nav_bar .dropdown-menu a {
  color: white; }
header #navbarNav .navbar-nav {
  width: 100%; }
  header #navbarNav .navbar-nav div a {
    color: white; }
header .socials a {
  text-decoration: none; }
  header .socials a i {
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 2.2rem;
    color: rgba(206, 205, 205, 0.5);
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
    margin-left: .5rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    header .socials a i:hover {
      color: #691010;
      border: none;
      background-color: white; }
header .login {
  height: 4.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .5rem;
  color: rgba(206, 205, 205, 0.5);
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  header .login:hover {
    text-decoration: none;
    color: #691010;
    background-color: white; }

@media (max-width: 991px) {
  header .socials a i {
    font-size: 1.3rem;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: .6rem; }
  header .login {
    font-size: 1.1rem; } }
@media (min-width: 992px) {
  header #nav_bar button {
    display: none; }
  header #nav_bar .dropdown-menu {
    display: none; } }
section #contact_qatar_airways {
  margin: 5rem 0; }
  section #contact_qatar_airways #contact_intro {
    background-color: #a3a3a3; }
  section #contact_qatar_airways #contact_divs {
    background-color: lightgray;
    height: auto; }
    section #contact_qatar_airways #contact_divs div:first-child {
      padding: 3rem 0 5rem 0; }
    section #contact_qatar_airways #contact_divs div:nth-child(-n+2) {
      border-bottom: 1px dotted white; }
    section #contact_qatar_airways #contact_divs div:nth-child(n+2) {
      padding: 2rem 0; }
    section #contact_qatar_airways #contact_divs div i {
      top: 0;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 5rem;
      color: #691a40; }
    section #contact_qatar_airways #contact_divs div h6 {
      color: #691a40;
      font-size: 2rem;
      margin-bottom: 2rem; }
    section #contact_qatar_airways #contact_divs div p {
      color: #6a6a6a;
      font-family: "Quicksand", sans-serif;
      font-size: 1.3rem; }
    section #contact_qatar_airways #contact_divs div .p_color {
      color: #691a40;
      font-weight: 700; }
section #executive_cargo {
  padding: 0; }
  section #executive_cargo #contact_qatar_executive {
    margin-bottom: 5rem; }
    section #executive_cargo #contact_qatar_executive #contact_qatar_executive_intro {
      background-color: #a3a3a3; }
    section #executive_cargo #contact_qatar_executive:first-child {
      background-color: lightgray;
      height: auto; }
  section #executive_cargo #contact_qatar_cargo {
    margin-bottom: 5rem; }
    section #executive_cargo #contact_qatar_cargo #contact_qatar_cargo_intro {
      background-color: #a3a3a3;
      margin: 0; }
    section #executive_cargo #contact_qatar_cargo:nth-of-type(2) {
      background-color: lightgray;
      height: auto; }

footer {
  height: 5rem;
  background-color: #691a40;
  color: white;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center; }
  footer p {
    padding-top: 1.5rem; }

@media (min-width: 992px) {
  footer {
    text-align: left; }
    footer p {
      padding-left: 2rem; } }
@media (min-width: 992px) {
  section #contact_qatar_airways #contact_intro p {
    font-size: 2.7rem;
    font-weight: 700; }
    section #contact_qatar_airways #contact_intro p strong {
      font-size: 3.5rem; }
  section #contact_qatar_airways #contact_divs {
    height: 30rem; }
    section #contact_qatar_airways #contact_divs div {
      height: 25rem; }
      section #contact_qatar_airways #contact_divs div:nth-child(n+2) {
        padding-top: 0; }
      section #contact_qatar_airways #contact_divs div:nth-child(-n+2) {
        border-bottom: none;
        border-right: 1px dotted #691a40; } }

/*# sourceMappingURL=style_contact.css.map */